# --- Dependencias
**/node_modules/
**/.pnp
**/.cache/
**/.turbo/

# --- Builds/artefactos
**/dist/
**/build/
**/.next/
**/coverage/

# --- Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Entornos
**/.env
**/.env.*
!.env.example

# --- SO/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Certificados (no subir privados)
services/auth-service/certs/*
!services/auth-service/certs/README.md

**/db
**/db/*
db/docs/*